<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <!-- <form method="get" action="/listings/new">
        <button>add new</button>
    </form> -->

        <div class="row row-cols-lg-3 row-cols-md- row-cols-sm-1">
            <% for( let listing of allList ) { %>
                <div class="card cols">
                    <a href="/listings/<%= listing._id %>">
                        <img src="<%= listing.image.url %>" class="card-img-top" style="height: 20rem;"
                            alt="<%= listing.image.filename %>">
                        <div class="card-img-overlay">
                            <p></p>
                        </div>
                    </a>

                    <div class="card-body">
                        <h5 class="card-title"><a href="/listings/<%= listing._id %>">
                                <b>
                                    <%= listing.title %>
                                </b>
                            </a></h5>
                        <p>
                            Price: &#8377; <%= listing.price.toLocaleString("en-In") %>rs /Night
                        </p>
                    </div>
                </div>

                <% } %>
        </div>
    </body>