<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <!-- <form method="get" action="/listings/new">
        <button>add new</button>
    </form> -->

     <div class="navbar">
      <div class="container-fluid container-search">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search destination" aria-label="Search" />
          <button class="btn btn-danger search-btn" type="submit">Search</button>
        </form>
      </div>
    </div>

        <div class="row row-cols-lg-3 row-cols-md mt-4 row-cols-sm-1">
            <% for( let listing of allList ) { %>
                <div class="card cols card-listing">
                    <a href="/listings/<%= listing._id %>">
                        <img src="<%= listing.image[0]?.url %>" class="card-img-top" style="height: 20rem;"
                            alt="<%= listing.image[0]?.filename || 'Listing Image' %>">
                        <div class="card-img-overlay">

                        </div>
                    </a>

                    <div class="card-body">
                        <h5 class="card-title"><a href="/listings/<%= listing._id %>">
                                <b>
                                    <%= listing.title %>
                                </b>
                            </a></h5>
                        <p>
                            Price: &#8377; <%= listing.price %>rs /Night
                        </p>
                    </div>
                </div>

                <% } %>
        </div>
    </body>